$main: #3885e9;
$secondary: #4a898b;
$error: #ed4949;
$success: #4a8b7d;
$background: #f9fafc;
$text: #000000;
$border: #ddd;
$borderHover: #bbb;
$boxShadow: 0 2px 4px 0 rgba(17, 34, 68, 0.4);
$disabled: #aaa;
$disabledBackground: #eee;
$accent: #e84f30;
